body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}


nav{
  
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
     
}

nav a:hover{
  color: aqua;
}
nav a{
  margin-right: 20px;
  color: white;
}
nav .active{
  text-decoration: none;
  /* color: aqua; */
  font-weight: bold;
 
}